<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= current_page.data.title || "Applant | aTree in your home" %></title>

    <%= stylesheet_link_tag "https://unpkg.com/basscss@8.0.2/css/basscss.min.css" %>
    <%= stylesheet_link_tag "https://unpkg.com/basscss-responsive-margin@1.1.0/css/responsive-margin.css" %>
    <%= stylesheet_link_tag "https://unpkg.com/basscss-responsive-padding@1.1.0/css/responsive-padding.css" %>
    <%= stylesheet_link_tag "https://unpkg.com/basscss-responsive-type-scale@1.0.1/css/responsive-type-scale.css" %>
    <%= stylesheet_link_tag "https://unpkg.com/basscss-responsive-typography@1.0.1/css/responsive-typography.css" %>

    <%= stylesheet_link_tag "https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" %>
    <%= stylesheet_link_tag "site" %>

    <%= javascript_include_tag "https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" %>
    <%= javascript_include_tag "site" %>
    <%= javascript_include_tag "counter" %>

    <%= partial "ga" %>
  </head>
  <body class="bg-green color-white">
    <main>
      <%= yield %>
      <%= partial "footer" %>
    </main>
  </body>
</html>
