<header class="flex items-center justify-center center bg-green shadow-1 relative" style="height: 90vh">
  <div class="mx-auto">
    <%= image_tag "logo_white.png", style: "height: 8em" %>
    <h1 class="mb2 extra-bold">applant.</h1>
    <h2>aTree in your home</h2>
  </div>
</header>

<section class="bg-white color-green h2 extra-bold p4">
  <div class="flex flex-column items-center">
    <div class="inline">
      Dear Applant,<br/>
      <br/>
      I am
      <input
        class="input-reset border-bottom center color-green"
        style="max-width: 6em;"
      />
      and my email is
      <input
        class="input-reset border-bottom center color-green"
        style="max-width: 6em;"
      />.<br/>
      I've always wanted to learn to grow!<br/>
      <br/>
      <a class="button bg-green h3 color-white" href="#">
        Sign me up!
      </a>
    </div>
  </div>
</section>

<%= partial "nav" %>

<section class="bg-off-white color-dark-grey p4 shadow-1 relative" id="press">
  <h2 class="extra-bold color-green center">As seen on</h2>
  <div class="flex py4">
    <% press = [{
      logo: "forbes_logo.png",
      content: "Ihilluptat. Di alibusc ipsunte mporro blam nonseque enihili gni- mus, solores cientur?"
    }, {
      logo: "broadsheet_logo.png",
      content: "Ihilluptat. Di alibusc ipsunte mporro blam nonseque enihili gni- mus, solores cientur?"
    }, {
      logo: "vice_logo.png",
      content: "Ihilluptat. Di alibusc ipsunte mporro blam nonseque enihili gni- mus, solores cientur?"
    }, {
      logo: "wired_logo.png",
      content: "Ihilluptat. Di alibusc ipsunte mporro blam nonseque enihili gni- mus, solores cientur?"
    }, {
      logo: "techcrunch_logo.jpg",
      content: "Ihilluptat. Di alibusc ipsunte mporro blam nonseque enihili gni- mus, solores cientur?"
    }] %>
    <% press.each do |article| %>
      <div class="flex flex-column px2 center">
        <div class="mb2 bg-contain" style="background-image: url(/images/<%= article[:logo] %>); height: 3em; width: 100%; opacity: 0.4">
        </div>
        <p>
          <%= article[:content] %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="py4 mx-auto flex justify-around" style="max-width: 64em; width: 100%;">
    <div style="max-width: 24em; width: 100%">
      <h3 class="color-green extra-bold mb2">Meet aTree</h3>
      <p>
        Applant has designed a beautiful vertical garden call aTree, which is perfect for urban households. It’s easy to use, low maintenence and allows you to grow 30 plants every month in the comfort of your own home.
      </p>
    </div>
    <div class="asset-atree-render">
    </div>
  </div>
</section>

<section class="bg-green color-white p4">
  <div class="flex justify-between items-center mx-auto" style="max-width: 64em; width: 100%;">
    <div style="max-width: 36em; width: 100%">
      <h3 class="extra-bold mb2">Grow. Our lives depend on it.</h3>
      <p class="mb3">
        By 2050, the estimated population will be 9.5 billion people with most of that population growth in cities. We will need to produce 50% to 70% more food to feed everyone that is ef cient and sustainable <a href="http://www.worldbank.org/en/topic/foodsecurity" class="extra-bold">(source: worldbank)</a>.
      </p>
      <a href="#" class="button bg-white color-green bold">
        Sign up to be updated
      </a>
    </div>
    <div class="center flex flex-column justify-between">
      <div>
        <h2 class="extra-bold">7,500,739,327</h2>
        <p class="extra-bold">current world population</p>
      </div>

      <div class="my3">
        <h2 class="extra-bold">11,268</h2>
        <p class="extra-bold">people who died of hunger today</p>
      </div>

      <div>
        <h2 class="extra-bold">1,672,752</h2>
        <p class="extra-bold">forest loss this year(hectares)</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-off-white color-dark-grey p4">
  <div class="mx-auto" style="max-width: 48em; width: 100%">
    <h3 class="extra-bold color-green mb2">What is Vertical Farming?</h3>
    <p class="mb3">
      Vertical farming is the practice of growing plants on a vertical plane in water, not soil. It’s called hydroponics. This technique is all about optimising space, allowing more plants to grow with less room required.
    </p>
    <a href="#" class="color-green extra-bold">
      Learn about Vertical Farming >
    </a>
  </div>
</section>

<section class="bg-white color-dark-grey center">
  <div class="p4 relative z2">
    <h3 class="extra-bold color-green mb2">The Growing Possibilities...</h3>
    <p class="bold mb3">Under the right conditions - aTree will pay for itself in as little as a year.</p>
    <a href="#" class="button bold bg-green color-white">
      What you can grow with applant
    </a>
  </div>
  <%= image_tag "growing_possibilities.jpg", style: "margin-top: -8em; display: block; width: 100%" %>
</section>

<section class="bg-black relative p4">
  <div class="absolute top-0 left-0 right-0 bottom-0 bg-cover" style="opacity: 0.3; background-image: url(/images/get_growing.jpg)">
  </div>
  <div class="mx-auto p4 flex items-center justify-around relative z2" style="max-width: 48em; with: 100%">
    <div>
      <h2 class="extra-bold">Are you ready<br/>to get <span class="color-green">growing?</span></h2>
    </div>
    <div>
      <p class="bold mb2">Pre-order now</p>
      <input
        class="input-reset color-white mb2 block pb1"
        style="width: 12em"
        placeholder="you@mail.com"
      />
      <a href="#" class="button bg-green h5 bold">Submit</a>
    </div>
  </div>
</section>
