<header class="flex items-center justify-center center bg-green shadow-1 relative overflow-hidden" style="height: 90vmin">
  <div class="mx-auto z2 col-12 px3" style="max-width: 24em">
    <%= image_tag "logo_white.svg", class: "col-12" %>
    <h2 class="h3 nowrap">aTree in your home</h2>
  </div>

  <video autoplay loop width="100%" class="video-timelapse" style="opacity: 0.4">
    <source src="videos/timelapse.mp4"/>
  </video>
</header>

<section class="bg-white color-green h3 md-h2 extra-bold p3 md-p4">
  <div class="flex flex-column items-center">
    <form
      class="inline"
      id="form-mailchimp"
      action="http://facebook.us13.list-manage.com/subscribe/post"
      method="POST"
      target="_blank">
      <input type="hidden" name="u" value="81ddcd3ff2b5be5e8ae664f18">
      <input type="hidden" name="id" value="4b766bd7dc">

      Dear Applant,<br/>
      <br/>
      I am
      <input
        class="input-reset border-bottom center color-green"
        style="width: 6em"
        type="email"
        name="MERGE1"
      />
      and my email is
      <input
        class="input-reset border-bottom center color-green"
        style="width: 6em"
        name="MERGE0"
      />.<br/>
      I've always wanted to learn to grow!<br/>
      <br/>
      <button
        class="button bg-green bold h4 md-h3 color-white"
        type="submit">
        Sign me up!
      </button>
    </form>
  </div>
</section>

<%= partial "nav", locals: { url: "/" } %>

<section class="bg-off-white color-dark-grey p4 relative" id="press">
  <div class="mx-auto col-12 relative overflow-hidden" style="max-width: 64em">
    <h2 class="extra-bold h3 md-h2 underline color-green center">As seen on</h2>
    <div class="flex flex-wrap justify-center my3" style="min-height: 15em" id="press-slider">
      <% press = [{
        logo: "forbes_logo.png",
        content: "Ihilluptat. Di alibusc ipsunte mporro blam nonseque enihili gni- mus, solores cientur?"
      }, {
        logo: "broadsheet.svg",
        content: "Ihilluptat. Di alibusc ipsunte mporro blam nonseque enihili gni- mus, solores cientur?"
      }, {
        logo: "vice_logo.png",
        content: "Ihilluptat. Di alibusc ipsunte mporro blam nonseque enihili gni- mus, solores cientur?"
      }, {
        logo: "wired_logo.png",
        content: "Ihilluptat. Di alibusc ipsunte mporro blam nonseque enihili gni- mus, solores cientur?"
      }, {
        logo: "techcrunch.png",
        content: "Ihilluptat. Di alibusc ipsunte mporro blam nonseque enihili gni- mus, solores cientur?"
      }] %>
      <% press.each do |article| %>
        <div class="flex flex-column col-12 p3 center absolute">
          <div class="mb1 bg-contain col-12" style="background-image: url(/images/<%= article[:logo] %>); height: 3em; opacity: 0.4">
          </div>
          <div class="col-1 mx-auto border-bottom my2" style="border-color: #ccc"></div>
          <p>
            <%= article[:content] %>
          </p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="py4 mx-auto flex flex-wrap justify-around col-12" style="max-width: 64em">
    <div class="col-12 md-col-6 mb4 md-m0" data-aos="fade-right">
      <h3 class="color-green extra-bold underline mb2 center md-left-align">Meet aTree</h3>
      <p class="mb3">
        aTree is a vertical garden that grows fresh fruit, vegetables, and herbs in homes, all year round. It harnesses the technology of aeroponics to grow plants by misting their roots, creating a low-maintenance solution to growing food conveniently local.
      </p>
      <a href="/atree" class="button bg-green color-white bold mb3 md-m0">
        Learn more about aTree
      </a>
    </div>
    <div class="asset-unit-render">
    </div>
  </div>
</section>

<section class="bg-green color-white shadow-2 relative z-2 p4">
  <div class="flex flex-wrap justify-between items-center col-12 mx-auto" style="max-width: 64em">
    <div class="col-12 md-col-6">
      <h3 class="extra-bold underline mb2 center md-left-align">Grow. Our lives depend on it.</h3>
      <p class="mb3">
        By 2050, the world’s population will exceed 9.5 billion people, with 80% of that population living in cities. Not only do we need to produce at least 50% more food but food that is less strained. <a href="http://www.worldbank.org/en/topic/foodsecurity" class="extra-bold">(source: worldbank)</a>.
      </p>
      <div class="center md-left-align">
        <a href="#" class="button bg-white color-green bold">
          Sign up to be updated
        </a>
      </div>
    </div>
    <div class="center flex flex-column justify-between mx-auto mt3 md-m0">
      <div>
        <h2 class="extra-bold">7,500,739,327</h2>
        <p class="extra-bold">current world population</p>
      </div>

      <div class="my3">
        <h2 class="extra-bold">11,268</h2>
        <p class="extra-bold">people who died of hunger today</p>
      </div>

      <div>
        <h2 class="extra-bold">1,672,752</h2>
        <p class="extra-bold">forest loss this year(hectares)</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-off-white color-dark-grey p4">
  <div class="mx-auto col-12" data-aos="zoom-in" style="max-width: 48em">
    <h3 class="extra-bold underline color-green mb2 center md-left-align">What is Vertical Gardening?</h3>
    <p class="mb3">
      Vertical gardening grows plants on a vertical garden bed, where plants are fed with water, not soil. It’s called aeroponics, a subset of hydroponics. This technique optimises nutrient delivery, using 95% less water whilst growing more plants up.
    </p>
    <a href="/vertical_farming" class="color-green extra-bold">
      Learn more about Vertical Farming >
    </a>
  </div>
</section>

<section class="bg-white color-dark-grey center" style="max-height: 40em">
  <div class="p4 relative z2">
    <h3 class="extra-bold underline color-green mb2">The Growing Possibilities...</h3>
    <p class="bold mb3">
      aTree will grow most things that grow out of the ground, rather than in the ground!<br/>
      These are just some of the things that can be grown.
    </p>
    <a href="/growing" class="button bold bg-green color-white">
      See more of what you can grow
    </a>
  </div>
  <%= image_tag "growing_possibilities.jpg", class: "block col-12", style: "margin-top: -12em" %>
</section>

<section class="bg-black relative py4 px3 overflow-hidden">
  <div class="absolute top-0 left-0 right-0 bottom-0 bg-cover" style="opacity: 0.3; background-image: url(/images/get_growing.jpg)">
  </div>
  <div class="mx-auto py4 px3 flex flex-wrap items-center justify-between relative z2 col-12" style="max-width: 40em">
    <div class="md-col-6 col-12 center md-left-align" data-aos="fade-right">
      <h2 class="extra-bold h3 md-h2">Are you ready<br/>to get <span class="color-green">growing?</span></h2>
    </div>
    <div class="md-m0 mx-auto mt3" data-aos="fade-left">
      <p class="bold mb2">Pre-order now</p>
      <input
        class="input-reset color-white mb2 block pb1"
        style="width: 12em"
        placeholder="you@mail.com"
      />
      <a href="#" class="button bg-green h5 bold">Submit</a>
    </div>
  </div>
</section>
